/*font-family: 'Open Sans', sans-serif;
font-family: 'Kavivanar', cursive;
*/
/*estilos base*/

body{
   font-family: 'Open Sans', sans-serif; 
}

.contenedor {
    width: 900px;
    margin: 0 auto;
}

header {
    overflow: hidden;
}

header .logo {
    float: left;
}

figure {
    margin: 0;
}

header nav {
    float: right;
    position: relative;
    top: 55px;
}

header nav ul {
    list-style: none;
    overflow: hidden;
    margin: 0;
}

header nav ul li {
    float: left;
    margin: 0 0 0 10px;
}

header nav ul li a{
    background: grey;
    padding: 5px 10px;
    display: block;
    text-decoration: none;
    color: white;
}

header nav ul li a:hover{
    color:red;
    background:black;
}

footer {
    overflow: hidden;
}

footer .credito {
    float: left;
}

footer .copyright {
    float: right;
}

h1{
    color:red;
    font-size: 30px;
    font-family: 'Kavivanar', cursive;
}

p{
    color: gray;
}

/* seccion pais anfitrion */
.hero {
    background:
        url('../img/logo.png') no-repeat 25px 25px, /* capa 3 */
        url('../img/pelota.png') no-repeat 675px 25px, /* capa 2 */
        url('../img/plaza-roja.jpg') no-repeat; /* capa 1 */
    width: 900px;
    height: 250px;
    margin-bottom: 50px;
}

.columnas {
    columns: 3;
    column-gap: 20px;
    margin: 50px 0;
    font-size: 14px;
}

.columnas p {
    margin-top: 0;
}

/* seccion estadios */

.estadios {
    overflow: hidden;
    margin: 50px 0;
}

.estadios .estadio:first-child {
    margin-left: 0;
}

.estadio {
    width: 155px;
    float: left;
    border: 1px solid gray;
    padding: 20px;
    margin-left: 37px;
}

.estadio img {
    border-radius: 50%;
    max-width: 150px;
    box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.5);
}

.estadio h6 {
    text-align: center;
}

.estadio p {
    font-size: 12px;
}

/* seccion mascota */

.mascota {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d20a11+0,7f060a+100 */
    background: #d20a11; /* Old browsers */
    background: -moz-linear-gradient(top, #d20a11 0%, #7f060a 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #d20a11 0%,#7f060a 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #d20a11 0%,#7f060a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d20a11', endColorstr='#7f060a',GradientType=0 ); /* IE6-9 */

    width: 900px;
    height: 250px;
    overflow: hidden;
}

.mascota img {
    float: left;
}

.mascota p {
    float: left;
    color: white;
    margin-left: 80px;
    width: 50%;
    position: relative;
    top: 70px;
}

.historia-mascota h2 {
    color: #d20a11;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}

/* seccion grupos */

.grupos {
    overflow: hidden;
    margin: 50px 0;
}

.grupo {
    float: left;
    width: 200px;
    margin-left: 33px;
}

.grupo:first-child {
    margin-left: 0;
}

.grupo h6 {
    background: rgba(210,10,17,1);
    color: white;
    padding: 5px 10px;
    font-size: 17px;
    margin: 0;
}

.grupo:nth-child(2) h6 {
    background: rgba(210,10,17,0.8);
}

.grupo:nth-child(3) h6 {
    background: rgba(210,10,17,0.5);
}

.grupo:nth-child(4) h6 {
    background: rgba(210,10,17,0.3);
}

.grupo h6:before {
    content: "";
    display: inline-block;
    background: url('../img/pelota-icono.png') no-repeat;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    margin-right: 12px;
}

.grupo ul {
    margin-top: 20px;
    padding-left: 20px;
}